<div class="pantalla">
    <div class="contenedor">
        <div class="menu">
            <div class="logo" [hidden]="router.url === '/sobreMi'" [@fadeLogo]="keyAnimacion">
                 <img src="logo.png" alt="Foto Mia"/>
            </div>
        </div>
        <div class="pestañas">
            <button class="vertical" 
                [class.seleccionado]="paginaActual === 'home'" 
                routerLink="home" (click)="paginaActual = 'home'">
                Home
            </button>
            <button class="vertical"
                [class.seleccionado]="paginaActual === 'proyectos'" 
                routerLink="proyectos" (click)="paginaActual = 'proyectos'">
                Proyectos
            </button>
            <button class="vertical"
                [class.seleccionado]="paginaActual === 'sobreMi'" 
                routerLink="sobreMi" (click)="paginaActual = 'sobreMi'">
                Sobre Mí
            </button>
        </div>
        <div [@transicionRutas]="obtenerRuta(outlet)" class="contenido">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </div>
</div>